* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 186px;
    padding: 0 16px;
    line-height: 68px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 1.4rem;
    background: #1ebfc1;
}

/* Header */
.header.fixed {
    position: sticky;
    top: -28px;
}

.body {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 21px;
    color: #2f3a3b;
    font-size: 1.6rem;
}

.nav a:hover {
    text-shadow: 1px 0 0 currentColor;
}

.header .action {
    display: flex;
    align-items: center;
    margin-left: 177px;
}

.header .action-link {
    padding: 12px;
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
    margin-right: 12px;
}

.header .action-btn {
    width: 10.8rem;
    height: 4.8rem;
    border-radius: 0.6rem;
    border: 1px solid #1ebfc1;
    color: #1ebfc1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: #fff;
    line-height: 48px;
}

.header .action-link:hover,
.header .action-btn:hover {
    opacity: 0.8;
}
